<launch>
  <arg name="image_view" default="false" />
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <rosparam command="load" file="$(find usb_cam)/config/usb_cam.yml"/>
    <param name="deposure" value="50"/>
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="30"/>
  </node>
  <node name="auto_drive" pkg="auto_drive" type="lane_track_5_xycar_test.py" output="screen"/>  
  
</launch>
